<div class="row">
  <div class="col-md-12 col-sm-12 buttn">
    <button mat-raised-button color="accent" routerLink="adduser">
      Add User
    </button>
  </div>
</div>

<div class="row mt-3">
  <div class="col-md-5 col-sm-5">
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let user of userArr"
        [routerLink]="user.userId"
        [queryParams]="{
          userRole: user.userRole
        }"
      >
        {{ user.userName }}
      </li>
    </ul>
  </div>
  <div class="col-md-7 col-sm-7">
    <router-outlet></router-outlet>
  </div>
</div>
