.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #f50e35;
  border-bottom: 2px solid red;
}

.bggg {
  background-color: #fa94a5;
}
